# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C++ codes\BInary_Search_in_monotonic_search_spaces\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
