# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C++ codes\Binary_Search_in_Sorted_Rotated_Array\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
